# Common
dist
node_modules
.eslintcache
vite.config.*.timestamp*

# MacOS
.DS_Store

# Local env files
*.local

# Logs
*.log
.claude
.github

# Using pnpm and bun
package-lock.json
yarn.lock

.env

.env.*
deploy.dev.mjs
